[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flake8 = "*"
Flask = "*"
Flask-DebugToolbar = "*"
isort = "*"
beautifulsoup4 = "*"
requests = "*"
gunicorn = "*"
Flask-Caching = "*"
Flask-RESTful = "*"
