 <footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="{{ url_for('movies.show_rest_api_info') }}">Справка по работе с API</a></p>
    <p>Все сведения о фильмах взяты с сайтов <a href="https://www.afisha.ru">Афиша</a> и <a href="https://www.kinopoisk.ru">Кинопоиск.</a></p>
    <p><a href="https://devman.org/profiles/RamusikValery/">Проект создан исключительно в учебных целях</a>
    </p>
    <p class="text-muted"><a href="mailto:valer-biz@mail.ru">Сайт сделал Валерий</a></p>
  </div>
</footer>

