{% extends "layout.html" %}

    {% block content %}
    <div class="row">
        {% for movie in top_movies %}
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
             <div class="thumbnail">
                  <img src="{{ movie.img_link }}" alt="{{ movie.title }}">
                  <div class="caption">
                    <h3><a href="{{ movie.film_link }}">{{ movie.title }}</a></h3>
                    <p>рейтинг на кинопоиске: <strong>{{ movie.get('rating') }}</strong></p>
                    <p>год: {{ movie.get('год') }}</p>
                    <p>премьера: {{ movie.get('премьера') }}</p>
                    <p>слоган: {{ movie.get('слоган') }}</p>
                    <p>продюсер: {{ movie.get('продюсер') }}</p>
                    <p>режиссер: {{ movie.get('режиссер') }}</p>
                    <p>сценарий: {{ movie.get('сценарий') }}</p>
                    <p>художник: {{ movie.get('художник') }}</p>
                    <p>оператор: {{ movie.get('оператор') }}</p>
                    <p>жанр: {{ movie.get('жанр') }}</p>
                    <p>зрители: {{ movie.get('зрители') }}</p>
                    <p>сборы: {{ movie.get('сборы') }}</p>
                    <p>возраст: {{ movie.get('возраст') }}</p>
                    <p>время: {{ movie.get('время') }}</p>
                    <p>{{ movie.get('description') }}</p>
                    <p><a href="{{ movie.film_link }}">Перейти на кинопоиск</a></p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

