{% extends "layout.html" %}

    {% block content %}
    <div class="row">
        {% for movie in top_movies %}
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
             <div class="thumbnail">
                  <img src="https://st.kp.yandex.net/images/film_big/{{ movie.kinopoisk_id }}.jpg" alt="{{ movie.title }}">
                  <img src="https://st.kp.yandex.net/images/film_iphone/iphone360_{{ movie.kinopoisk_id }}.jpg" alt="{{ movie.title }}">
                  <div class="caption">
                    <h3><a href="https://www.kinopoisk.ru{{ movie.kinopoisk_link }}">{{ movie.title }}</a></h3>
                    <p>рейтинг на кинопоиске: <strong>{{ movie.get('kinopoisk_rating') }}</strong></p>
                    <p>{{ movie.get('film_genre') }}</p>
                    <p>{{ movie.get('creation') }}</p>
                    <p>{{ movie.get('description') }}</p>
                    <p><a href="https://www.kinopoisk.ru{{ movie.kinopoisk_link }}">Перейти на кинопоиск</a></p>
                    <p><a href="{{ movie.afisha_link }}">Перейти на афишу</a></p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
